.description {
  width: 20%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: -10px 10px 14px -5px rgb(25 42 70 / 13%);
  border-radius: 8px;
  padding: 20px 15px 20px 15px;
  min-height: 300px;
}
.description .header-title {
  text-align: center;
  font-size: 27px;
}

.description .title-content {
  color: #666;
}
.description .content {
  font-weight: 600;
}
.description .button-book {
  text-align: center;
}
.description .button-book button {
  width: 100%;
  background-color: #0082c8;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: none;
}

.description .button-book button:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  transition: transform 0.5s ease;
}
