.box {
  background-color: #1b44a2;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px 10px;
  height: 213px;
  text-align: center;
}

.box img {
  width: 120px;
}

.box:hover {
  transform: translate(0, -3px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#promotion {
  background-color: #f5f6f7;
  height: 410px;
}
@media only screen and (max-width: 768px) {
  #promotion {
    height: auto;
  }
}
